{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<h1>Order Details</h1>
<h3>{{user.vendor}}</h3>
<div>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item ">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-orders' %}active{% endif %}" href="{% url 'dashboard-orders' %}">Orders</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-products' %}active{% endif %}" href="{% url 'dashboard-products' %}">Products</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-finances' %}active{% endif %}" href="{% url 'dashboard-finances' %}">Finances</a>
        </li>
        
    </ul>
    {% endwith %}
</div>

{% if user.vendor.is_activated %}
<br>
<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}

    <input type="submit" name="Edit" class="width-100pc btn btn-outline-primary">
</form>



{% else %}
    <p>Please wait for activiation</p>
{% endif %}

{% endblock content %}