{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<h1>DASH BOARD</h1>
<h3>{{user.vendor}}</h3>

{% if user.vendor.is_activated %}

<div>
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard-orders' %}">Orders</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard-products' %}">Products</a>
        </li>
        
    </ul>
</div>




<div class="container mb-5">
    <!-- Top cards -->
    <div class="row justify-content-center">
        <div class="col-sm-6" >
            <div class="card">
                <div class="card-header">
                  New Orders
                </div>
                <div class="card-body">
                  <h5 class="card-title">50 Orders</h5>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                  Sales
                </div>
                <div class="card-body">
                  <h5 class="card-title">$2980</h5>
                  <a href="#" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>
    </div>

    
</div>
<br>
    <h3>Recent Orders</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>Customer</th>
            <th>Date</th>
            <th>Cat</th>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.customer}}</td>
                <td>{{order.date}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Please wait for activiation</p>
{% endif %}




{% endblock content %}