{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div>
    <h1 class="text-center">الطلبات</h1>
    <h3 class="text-center">{{user.vendor}}</h3>
</div>


{% if user.vendor.is_activated %}

<div>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item ">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">لوحة التحكم</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-orders' %}active{% endif %}" href="{% url 'dashboard-orders' %}">الطلبات</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-products' %}active{% endif %}" href="{% url 'dashboard-products' %}">المنتجات</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-finances' %}active{% endif %}" href="{% url 'dashboard-finances' %}">الحسابات</a>
        </li>
        
    </ul>
    {% endwith %}
</div>

<h3>تفاصيل الطلبات</h3>
<ul class="list-group" style="max-width: 400px;">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        الطلبات قيد الانتظار
        <span class="badge bg-primary rounded-pill">{{processingOrders}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        الطلبات قيد الشحن
        <span class="badge bg-primary rounded-pill">{{shippingOrders}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
        الطلبات المستلمة
        <span class="badge bg-primary rounded-pill">{{deliveredOrders}}</span>
    </li>
</ul>

<br>
    <h3>قائمة الطلبات</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>رقم الطلب</th>
            <th>العميل</th>
            <th>الكمية</th>
            <th>سعر الوحدة</th>
            <th>السعر</th>
            <th>المنتج</th>
            <th>تاريخ الطلب</th>
            <th>الحالة</th>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td> <a class="btn btn-outline-primary" href="{% url 'dashboard-ordersdetails' order.id %}">{{order.id}}</a> </td>
                <td>{{order.order.id}}</td>
                <td>{{order.order.customer}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.unit_price}}</td>
                <td>{{order.price}}</td>
                <td>{{order.product}}</td>
                <td>{{order.order.date|date:"j/n/Y"}}</td>
                <td>{{order.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>Please wait for activiation</p>
{% endif %}

{% endblock content %}