{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div>
    <h1 class="text-center">المنتجات</h1>
    <h3 class="text-center">{{user.vendor}}</h3>
</div>


{% if user.vendor.is_activated %}

<div>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item ">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">لوحة التحكم</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-orders' %}active{% endif %}" href="{% url 'dashboard-orders' %}">الطلبات</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-products' %}active{% endif %}" href="{% url 'dashboard-products' %}">المنتجات</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-finances' %}active{% endif %}" href="{% url 'dashboard-finances' %}">الحسابات</a>
        </li>
        
    </ul>
    {% endwith %}
</div>

<h1>المنتجات</h1>
<a href="{% url 'add-product' %}" class="btn btn-outline-primary">اضف منتج</a>
<table class="table table-striped">
    <thead>
        <th>الاسم</th>
        <th>السعر</th>
        <th>تصنيف فرعى</th>
        <th>الفئة</th>
        <th>صورة</th>
        <th>معاينة المنتج</th>
        <th>تفعيل</th>
        <th>تعديل النتج</th>
        <th>مسح المنتج</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.subCategory}}</td>
            <td>{{product.category}}</td>
            <td><img class="row-image" src="{{product.imageURL}}"></td>
            <td><a class="btn btn-outline-secondary" href="{% url 'product' product.slug %}">معاينة</a></td>
            <td>
                {% if product.activate %}
                    <div class="bg-success">مفعل</div>
                {% else %}
                    <div class="bg-secondary">محجوب</div>
                {% endif %}
            </td>
            <td><a class="btn btn-outline-primary" href="{% url 'dashboard-productsdetails' product.id %}">تعديل</a></td>
            <td><a class="btn btn-danger" href="{% url 'dashboard-productsdelete' product.id %}">مسح</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% else %}
    <p>Please wait for activiation</p>
{% endif %}

{% endblock content %}