{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div>
    <h1 class="text-center">DASH BOARD</h1>
    <h3 class="text-center">{{user.vendor}}</h3>
</div>


{% if user.vendor.is_activated %}

<div>
    {% with request.resolver_match.url_name as url_name %}
    <ul class="nav nav-pills justify-content-center mb-5">
        <li class="nav-item ">
            <a class="nav-link {% if url_name == 'dashboard' %}active{% endif %}" href="{% url 'dashboard' %}">Dashboard</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-orders' %}active{% endif %}" href="{% url 'dashboard-orders' %}">Orders</a>
        </li>
    
        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-products' %}active{% endif %}" href="{% url 'dashboard-products' %}">Products</a>
        </li>

        <li class="nav-item">
            <a class="nav-link {% if url_name == 'dashboard-finances' %}active{% endif %}" href="{% url 'dashboard-finances' %}">Finances</a>
        </li>
        
    </ul>
    {% endwith %}
</div>




<div class="container mb-5">
    <!-- Top cards -->
    <div class="row justify-content-center">
        <div class="col-sm-6" >
            <div class="card">
                <div class="card-header">
                  New Orders
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{newOrders}}</h5>
                  <a href="{% url 'dashboard-orders' %}" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                  Pending Sales
                </div>
                <div class="card-body">
                  <h5 class="card-title">${{processingSales}}</h5>
                  <a href="{% url 'dashboard-finances' %}" class="btn btn-primary">View Details</a>
                </div>
              </div>
        </div>
    </div>

    
</div>
<br>
    <h3>Recent Orders</h3>
    <table class="table table-striped">
        <thead>
            <th>ID</th>
            <th>OrderID</th>
            <th>Customer</th>
            <th>Quantity</th>
            <th>Unit Price</th>
            <th>Price</th>
            <th>Product</th>
            <th>Date</th>
            <th>Status</th>
        </thead>
        <tbody>
            {% for order in recentOrders %}
            <tr>
                <td> <a class="btn btn-outline-primary" href="{% url 'dashboard-ordersdetails' order.id %}">{{order.id}}</a> </td>
                <td>{{order.order.id}}</td>
                <td>{{order.order.customer}}</td>
                <td>{{order.quantity}}</td>
                <td>{{order.unit_price}}</td>
                <td>{{order.price}}</td>
                <td>{{order.product}}</td>
                <td>{{order.order.date|date:"j/n/Y"}}</td>
                <td>{{order.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% else %}
    <p>Please wait for activiation</p>
{% endif %}




{% endblock content %}