{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<h1>DASH BOARD</h1>

{% if user.vendor.is_activated %}
<a href="{% url 'add-product' %}" class="btn btn-outline-primary">Add Product</a>


<table class="table">
    <thead>
        <th>Name</th>
        <th>Price</th>
        <th>SubCat</th>
        <th>Cat</th>
    </thead>
    <tbody>
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.subCategory}}</td>
            <td>{{product.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}

<p>Please wait for activiation</p>


{% endblock content %}