{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column">
  <!-- Banner/carousell at top -->
  <div class="shadow mb-4 bg-body rounded" style="background-color: #F0F5F9;">
    <div class="d-flex of scroll">
      {% for banner in banners %}
      <div class="">
        <a href="#">
          <img class="image-top-view rounded" src="{{ banner.imageURL }}" alt="{{banner.name}}">
        </a>
      </div>
      {% endfor %}
      
    </div>
    

  </div>

  <!-- Single section Carousel New items-->
  <div class="shadow mb-4 bg-body rounded scroll " >
    <!-- header -->
    <div >
      <div class="d-flex justify-content-between align-items-center" style="background-color: #dce0e7;">
        <h2 class="text-center">New</h2>
        <a class="p-2" href="#">SEE ALL</a>
      </div>
    </div>

    <!-- items -->
    <div class="d-flex of align-items-end" >
      {% for product in products %}
      <div class="p-2 itm">
        <a class="d-flex flex-column" href="{% url 'product' product.slug %}">
          <img class="img-fluid" src="{{product.imageURL}}" alt="">
          <h3>{{product.name}}</h3>
          <div>{{product.price}}</div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>

  <!-- Big picture main sections -->
  <div class="d-flex flex-column align-items-center shadow mb-4 bg-body rounded overflow-hidden">
    
      {% for cat in mainCats %}
      <div>
        <a href="{% url 'instruments' cat.name %}" class="position-relative d-flex justify-content-center">
          
          <img class="gnrl-section-size" src="{{ cat.imageURL }}" alt="">
          <div class="gnrl-section-overlay"></div>
          <h1 class="position-absolute top-50 start-50 translate-middle text-center gnrl-section-text" style="color: white; font-size: 2rem;">{{ cat.name }}</h1>

        </a>
      </div>
      {% endfor %}

  </div>

</div>
{% endblock content %}