{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column">
  <!-- <a href="testing.html" class="btn btn-outline-dark">Style 1</a>
  <a href="testing2.html" class="btn btn-outline-dark">Style 2</a> -->

  <!-- Banner/carousell at top -->
  <div>
    <div class="d-flex of scroll">
      {% for banner in banners %}
      <div class="p-2">
        <a href="#">
          <img class="image-top-view rounded" src="{{ banner.imageURL }}" alt="{{banner.name}}">
        </a>
      </div>
      {% endfor %}
      
    </div>
    

  </div>

  <!-- Single section Carousel -->
  <div class="m-2 scroll">
    <!-- header -->
    <div style="background-color: rgb(196, 192, 192);">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center">New</h2>
        <a class="p-2" href="#">SEE ALL</a>
      </div>
    </div>

    <!-- items -->
    <div class="d-flex of">

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3 class="text-center">Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>
    </div>
  </div>

  <!-- Big picture main sections -->
  <div class="d-flex flex-column align-items-center ">
    
      {% for cat in mainCats %}
      <div class="gnrl-section-size m-2">
        <a href="{% url 'instruments' cat.name %}" class="position-relative d-flex justify-content-center">
          <img class="img-fluid" src="{{ cat.imageURL }}" alt="" style="height: 100%;">
          <h2 class="position-absolute top-50 start-50 translate-middle text-center bg-secondary">{{ cat.name }}</h2>
        </a>
        </div>
      {% endfor %}

  </div>

</div>
{% endblock content %}