{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{subs}}</li>
    </ol>
</nav>

<!-- Banner of category in DB add image field -->
<img src="{% static 'images/string_banner.webp' %}" alt="" class="img-fluid shadow mb-4 bg-body rounded">




{% for subCat in subCats %}
<!-- Single section Carousel -->
<div class="shadow mb-4 bg-body rounded scroll">
    <!-- header -->
    
    <div>
        <div class="d-flex justify-content-between align-items-center" style="background-color: #dce0e7;">
        <h2 class="text-center">{{subCat.name}}</h2>
        <a class="p-2" href="{% url 'subCategory' subCat.name %}">SEE ALL</a>
        </div>
    </div>

    <!-- items  parent and child height 100% to stretch the inner anchor link to cover the parent div check subCat.html--> 
    <div class="d-flex of align-items-stretch">
        {% for product in products %}
            {% if product.subCategory == subCat %}
            <div class="p-2 itm d-flex align-items-end" >
                <a class="d-flex flex-column" href="{% url 'product' product.slug %}">
                    <img class="img-fluid" src="{{product.imageURL}}" alt="">
                    <h3>{{product.name}}</h3>
                    <div>{{product.price}}</div>
                </a>
            </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% endfor %}


{% endblock content %}