{% extends 'store/base.html' %}
{% load static %}

{% block content %}
<img src="https://via.placeholder.com/730x300" alt="" class="img-fluid p-2">

<!-- Single section Carousel -->
<div class="m-2 scroll">
    <!-- header -->
    <div style="background-color: rgb(196, 192, 192);">
        <div class="d-flex justify-content-between align-items-center">
        <h2 class="text-center">Oud</h2>
        <a class="p-2" href="oud.html">SEE ALL</a>
        </div>
    </div>

    <!-- items -->
    <div class="d-flex of">

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3 class="text-center">Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>

        <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
            <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
            <h3>Name</h3>
            <div>Price</div>
        </a>
        </div>
    </div>
</div>


{% endblock content %}