{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<section>
    <div class="d-flex flex-column align-items-center">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item "><a href="{% url 'home' %}" style="color: black;">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
          </nav>

          <div class="mb-5 mt-3 d-flex flex-column align-items-center">
            <div>
              <form name="myform" id ="myform" method="get">
                <select name="filter_by" onchange="submitform();" class="btn btn-outline-secondary">
                    <option selected>Default sorting</option>
                    <option value="new">New Additions</option>
                    <option value="HighToLow">Price Highest to Lowest</option>
                    <option value="LowToHigh">Price Lowest to Highest</option>
                </select>
              </form>

            </div>
  
          </div>
    </div>
</section>

<section class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for product in products %}
        {% if product.tag == 'Oud' %}
        <div class="col">
          <div class="card shadow-sm">
            <img class="card-img-top" src="{{ product.imageURL }}" alt="">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <hr>
              <h5 class="card-subtitle mb-2">Price: ${{ product.price }}</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-outline-success">Add to Cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>


{% endblock content %}