{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'home' %}">الرئيسية</a></li>
    <li class="breadcrumb-item" ><a href="{% url 'instruments' subs.name %}">{{subs}}</a></li>
    <li class="breadcrumb-item"><a href="{% url 'subCategory' subCat.name %}">{{subCat}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{product.name}}</li>
  </ol>
</nav>


<div id="cart_feedback"></div>



<div class="d-flex of scroll">
    {% if product.imageURL != '' %}
    <div class="p-2">
      <a href="#">
        <img class="image-top-view rounded" src="{{product.imageURL}}" alt="">
      </a>
    </div>
    {% endif %}

    {% if product.image2URL != '' %}
    <div class="p-2">
      <a href="#">
        <img class="image-top-view rounded" src="{{product.image2URL}}" alt="">
      </a>
    </div>
    {% endif %}

    {% if product.image3URL != '' %}
    <div class="p-2">
      <a href="#">
        <img class="image-top-view rounded" src="{{product.image3URL}}" alt="">
      </a>
    </div>
    {% endif %}
    
    {% if product.image4URL != '' %}
    <div class="p-2">
      <a href="#">
        <img class="image-top-view rounded" src="{{product.image4URL}}" alt="">
      </a>
    </div>
    {% endif %}

    {% if product.image5URL != '' %}
    <div class="p-2">
      <a href="#">
        <img class="image-top-view rounded" src="{{product.image5URL}}" alt="">
      </a>
    </div>
    {% endif %}
</div>

<br>
<div class="container">
    <h1>{{product.name}}</h1>
    <h2>${{product.price}}</h2>
    <br>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta velit sit, provident saepe, reprehenderit rerum, culpa corrupti temporibus dolore placeat adipisci blanditiis similique. Non laborum, quod nihil distinctio id magnam.</p>
    <br>

    <div class="container mt-5">
      <div class="row">
         <div class="col-sm-4"></div>
         <div class="col-sm-4 col-sm-offset-4">
             <div class="input-group mb-3">
                 <div class="input-group-prepend">
                     <button class="btn btn-dark btn-sm" id="minus-btn"><i class="fa fa-minus"></i></button>
                 </div>
                 <input type="number" id="qty_input" class="form-control form-control-sm text-center" value="1" min="1">
                 <div class="input-group-prepend">
                     <button class="btn btn-dark btn-sm" id="plus-btn"><i class="fa fa-plus"></i></button>
                 </div>
             </div>
         </div>
         <div class="col-sm-4"></div>
     </div>
    </div>


    <button data-product="{{product.id}}" data-action="add" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary update-cart" style="width: 100%;">Add to Cart</button>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body text-center">
            تم الاضافة للسلة بنجاح  <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
              <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
              <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
            </svg>
          </div>
        </div>
      </div>
    </div>


</div>

{% endblock content %}