{% extends 'store/base.html' %}
{% load static %}

{% block content %}

<div>
        
    <img src="https://via.placeholder.com/730x300" alt="" class="img-fluid shadow mb-4 bg-body rounded">

  <!-- Single section Carousel -->
  <!-- <div class="shadow mb-4 bg-body rounded scroll"> -->
    <!-- header -->
    <!-- <div>
      <div class="d-flex justify-content-between align-items-center" style="background-color: #dce0e7;">
        <h2 class="text-center">Top picks</h2>
        <a class="p-2" href="#">SEE ALL</a>
      </div>
    </div> -->

    <!-- items -->
    <!-- <div class="d-flex of">

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3 class="text-center">Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>

      <div class="p-2 itm">
        <a class="d-flex flex-column" href="#">
          <img class="img-fluid" src="https://via.placeholder.com/300x300" alt="">
          <h3>Name</h3>
          <div>Price</div>
        </a>
      </div>
    </div>
  </div> -->

    <div class="container mb-4">
        <section>
            <div class="d-flex flex-column align-items-center">
                <!-- <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item "><a href="#" style="color: black;">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">Library</li>
                    </ol>
                  </nav> -->
    
                  <div class="mb-5 mt-5 d-flex flex-column align-items-center">
                    <div>
                      <select id="inst" class="btn btn-outline-secondary">
                        <option selected>Default sorting</option>
                        <option>New Additions</option>
                        <option>Price Highest to Lowest</option>
                        <option>Price Lowest to Highest</option>
                      </select>
                    </div>
          
                  </div>
            </div>
        </section>

        <div class="row">
            {% for product in products %}
            <div class="p-2 itm-50pc shadow bg-body rounded d-flex flex-column justify-content-end">
                <a class="d-flex flex-column justify-content-end" href="{% url 'product' product.slug %}" style="height: 100%;">
                  <img class="img-fluid img-thumbnail" src="{{product.imageURL}}" alt="Oud">
                  <h3>{{product.name}}</h3>
                  <div>{{product.price}}</div>
                </a>
                <button data-product="{{product.id}}" data-action="add" class="btn btn-outline-secondary update-cart">Add to Cart</button>
            </div>
            {% endfor %}
        </div>
    </div>

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link">Previous</a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#">Next</a>
          </li>
        </ul>
      </nav>
   
  </div>

{% endblock content %}