/* a{
    text-decoration: none;
}

.sub-menu-header{
    color: darkgray;
}

.sub-menu-header:hover{
    color: white;
}

.background-image{
    background: url("bg.jpg") no-repeat center center;
    background-size: cover;
    padding-bottom: 35%;
}

.layer {
    background-color: rgba(75, 49, 49, 0.5);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.align-bottom{
    position: absolute;
    bottom: 0;
}

.oud-background{
    background-image: url("oud1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.fill {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    right: 0;
    bottom: 0;
    padding: 0 !important;
    margin: 0 !important;
} */

a{
    text-decoration: none;
    color: black;
}

h2{
    margin: 0;
    padding: 5px;
}

.of{
    overflow-x: auto;
    overflow-y: hidden;
}

.image-top-view{
    width: 80vw;
    height: 40vw;
}

.section-size{
    height: 40vw;
}

.itm{
    max-width: 40%;
    min-width: 40%;
}

.itm-50pc{
    max-width: 50%;
    min-width: 50%;
}

.scroll{
    -webkit-overflow-scrolling: touch;
}

.gnrl-section-size{
    height: 70vh;
}

.width-100pc{
    width: 100%;
}

.anim-card{
    animation: appear 2.5s forwards;
}

@keyframes appear{
    from{
        clip-path: circle(7.2% at 50% 50%);

    }
    to{
        clip-path: circle(70.7% at 50% 50%);

    }
}